@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-app: var(--font-roboto-mono);
  --font-mono: var(--font-jet-brains-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  /* Typography */
  --text-display-lg: 57pt;
  --text-display-md: 45pt;
  --text-display-sm: 36pt;
  --text-headline-lg: 32pt;
  --text-headline-md: 28pt;
  --text-headline-sm: 24pt;
  --text-title-lg: 22pt;
  --text-title-md: 16pt;
  --text-title-sm: 14pt;
  --text-body-lg: 16pt;
  --text-body-md: 14pt;
  --text-body-sm: 12pt;
  --text-label-lg: 14pt;
  --text-label-md: 12pt;
  --text-label-sm: 11pt;

  --leading-display-lg: 64pt;
  --leading-display-md: 52pt;
  --leading-display-sm: 44pt;
  --leading-headline-lg: 40pt;
  --leading-headline-md: 36pt;
  --leading-headline-sm: 32pt;
  --leading-title-lg: 28pt;
  --leading-title-md: 24pt;
  --leading-title-sm: 20pt;
  --leading-body-lg: 24pt;
  --leading-body-md: 20pt;
  --leading-body-sm: 16pt;
  --leading-label-lg: 20pt;
  --leading-label-md: 16pt;
  --leading-label-sm: 16pt;

  --tracking-display-lg: -0.25pt;
  --tracking-display-md: 0;
  --tracking-display-sm: 0;
  --tracking-headline-lg: 0;
  --tracking-headline-md: 0;
  --tracking-headline-sm: 0;
  --tracking-title-lg: 0;
  --tracking-title-md: 0.15pt;
  --tracking-title-sm: 0.1pt;
  --tracking-body-lg: 0.5pt;
  --tracking-body-md: 0.25pt;
  --tracking-body-sm: 0.4pt;
  --font-label-lg: 0.1pt;
  --font-label-md: 0.5pt;
  --font-label-sm: 0.5pt;
}

:root {
  --background: oklch(0.98 0.02 87.51);
  --foreground: oklch(0.22 0.02 102.34);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.22 0.02 102.34);
  --popover: oklch(0.95 0.02 86.15);
  --popover-foreground: oklch(0.22 0.02 102.34);
  --primary: oklch(0.48 0.09 101.53);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.48 0.05 158.59);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.93 0.02 90.55);
  --muted-foreground: oklch(0.4 0.02 97.27);
  --accent: oklch(0.91 0.05 97.42);
  --accent-foreground: oklch(0.4 0.04 99.35);
  --destructive: oklch(0.51 0.19 27.7);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.83 0.02 90.78);
  --input: oklch(0.22 0.02 102.34);
  --ring: oklch(0.57 0.02 94.7);
  --chart-1: oklch(0.48 0.09 101.53);
  --chart-2: oklch(0.48 0.05 158.59);
  --chart-3: oklch(0.4 0.02 97.27);
  --chart-4: oklch(0.57 0.02 94.7);
  --chart-5: oklch(0.22 0.02 102.34);
  --sidebar: oklch(0.95 0.02 86.15);
  --sidebar-foreground: oklch(0.22 0.02 102.34);
  --sidebar-primary: oklch(0.22 0.02 102.34);
  --sidebar-primary-foreground: oklch(0.95 0.02 86.15);
  --sidebar-accent: oklch(0.89 0.02 90.56);
  --sidebar-accent-foreground: oklch(0.48 0.09 101.53);
  --sidebar-border: oklch(0.83 0.02 90.78);
  --sidebar-ring: oklch(0.57 0.02 94.7);
  --radius: 0rem;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
}

.dark {
  --background: oklch(0.19 0.01 94.02);
  --foreground: oklch(0.91 0.02 86.15);
  --card: oklch(0.16 0.01 94.64);
  --card-foreground: oklch(0.91 0.02 86.15);
  --popover: oklch(0.24 0.02 102.26);
  --popover-foreground: oklch(0.91 0.02 86.15);
  --primary: oklch(0.83 0.11 100.31);
  --primary-foreground: oklch(0.31 0.06 102.01);
  --secondary: oklch(0.82 0.06 157.09);
  --secondary-foreground: oklch(0.3 0.05 159.86);
  --muted: oklch(0.28 0.02 96.88);
  --muted-foreground: oklch(0.83 0.02 90.78);
  --accent: oklch(0.4 0.04 99.35);
  --accent-foreground: oklch(0.91 0.05 97.42);
  --destructive: oklch(0.84 0.09 26.76);
  --destructive-foreground: oklch(0.33 0.13 27.32);
  --border: oklch(0.4 0.02 97.27);
  --input: oklch(0.91 0.02 86.15);
  --ring: oklch(0.66 0.02 95.42);
  --chart-1: oklch(0.83 0.11 100.31);
  --chart-2: oklch(0.82 0.06 157.09);
  --chart-3: oklch(0.83 0.02 90.78);
  --chart-4: oklch(0.91 0.02 86.15);
  --chart-5: oklch(0.66 0.02 95.42);
  --sidebar: oklch(0.24 0.02 102.26);
  --sidebar-foreground: oklch(0.91 0.02 86.15);
  --sidebar-primary: oklch(0.91 0.02 86.15);
  --sidebar-primary-foreground: oklch(0.24 0.02 102.26);
  --sidebar-accent: oklch(0.34 0.02 96.78);
  --sidebar-accent-foreground: oklch(0.83 0.11 100.31);
  --sidebar-border: oklch(0.91 0.02 86.15);
  --sidebar-ring: oklch(0.66 0.02 95.42);
  --radius: 0rem;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
}

@utility typography-* {
  font-size: --value(--text- *);
  letter-spacing: --value(--tracking- *);
  line-height: --value(--leading- *);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-app antialiased;
  }
}

@layer components {
  .link-primary {
    @apply hover:bg-primary hover:text-primary-foreground underline;
  }
  .link-secondary {
    @apply hover:bg-secondary hover:text-secondary-foreground underline;
  }
}
